.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 30px;
  z-index: 1;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

#netflix-logo {
  fill: #e50914;
  line-height: normal;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}

.nav__switch__box {
  display: flex;
  position: fixed;
  right: 50px;
  width: 70px;
}

/* custom checkbox css */

.nav__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.nav__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.nav__switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav__switch__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .nav__switch__slider {
  background-color: #2196f3;
}

input:focus + .nav__switch__slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .nav__switch__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.nav__switch__slider.round {
  border-radius: 34px;
}

.nav__switch__slider.round:before {
  border-radius: 50%;
}
